.supportPage-contact-section {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .supportPage-form {
    margin: 0 auto;
  }

  .supportPage-submit-button {
    background-color: #1890ff;
    color: white;
  }
}
